/* ===================================================
   The Intro
   =================================================== */

.intro {
  h3 {
    font: normal 1.8em/1.4 @headlineFont;
    color:@gray;
    text-align: center;
  }
  h2 {
    font: bold 2.1em/1.8 @headlineFont;
    text-align: center;
    color:@green;
  }
  .plus {
    font-size:2em;
    font-weight:bold;
    color: @green-lighter;
  }

  .intro-1, .intro-2 {
    p {
      color:@gray;
      padding:1em 0;
    }
  }

  .intro-1 {
    position: relative;
    &:before {
      content:"";
      border-right:1px solid @gray-lighter;
      position: absolute;
      right:-30%;
      top:0;
      height:100%;
    }
    &:after {
      content:"+";
      position: absolute;
      text-align:center;
      top:50%;
      right:-30%;
      font:bold 3em/.62 @copyFont;
      color: @green-lighter;
      width:.6em;
      height:.7em;
      background: @white;
      display:block;
      margin-right:-.3em;
      margin-top:-.36em;
    }
  }
}

@media (max-width:@screen-xs-max) {
  .intro {
    .intro-1 {

      &:before {
        border:none;
        border-bottom: 1px solid @gray-lighter;
        right: 0;
        top: auto;
        bottom:-1.5em;
        width: 100%;
        height:auto;
      }
      &:after {
        content: "+";
        position: absolute;
        text-align: center;
        top: auto;
        bottom:-0.84em;
        right: 50%;
        font: bold 3em/.62 @copyFont;
        color: @green-lighter;
        width: 1em;
        height: .7em;
        background: @white;
        display: block;
        margin-right: -.6em;
        margin-top: 0;
      }
    }
  }
}